:root {
    /* CORES */
    --cor-laranja: rgb(255, 102, 0);
    --link-color: #F59425;
    --login-bg-color: rgba(250, 250, 250, 0.699);
    --fieldset-bg-color: rgba(0, 0, 0, 0.685);
    /* FONTES */    
    --tamanho-fonte: 20px;
    --estilo-fonte: bold;
    --fontes: 'Courier New', Courier, monospace;
    /*GERAL*/
    --margem: 0px auto;
    --geral-padding: 0px;
    --imagem-fundo: url(favela-ver-5.png);
    --margem-fundo: 20px;
    /*EFEITOS*/
    --destaque-logo: drop-shadow(2px 2px 2px #000000);
    --sublinhado: underline;
    --destaque-caixa: 3px 3px 3px #000000;
    --destaque-border: 2px solid #000000;
    --destaque-border-bottom: 3px solid #F59425;
    --destaque-circle-border: 10px;
    /*OUTROS*/
    --second-padding: 7px;
    --alinhamento-geral: center;
}

/* GERAL */
body {
    font-family: var(--fontes);
    margin: var(--margem);
    padding: var(--geral-padding);
    color: var(--cor-laranja);
    background-image: var(--imagem-fundo);
    font-size: var(--tamanho-fonte);
    font-weight:  var(--estilo-fonte);
}
/* LOGO */

header img {
    box-align: var(--alinhamento-geral);
    width: 250px;
    height: 105px;
    filter: var(--destaque-logo);
}

header .project {
    border-bottom: var(--destaque-border-bottom);
}

/* LINKS */
a {
    color: var(--link-color);
    text-decoration: none;
}

.termos:hover {
    text-decoration: var(--sublinhado);
}

/* CAIXA DE LOGIN */
input, label {
    padding: var(--second-padding);
}

.input, .topo {
    text-align: var(--alinhamento-geral);
}

input {
    outline: 0;
    border-radius: var(--destaque-circle-border);
}

fieldset {
    background-color: var(--fieldset-bg-color);
    border: var(--destaque-border);
    width: 500px;
    margin: var(--margem);
    box-shadow: var(--destaque-caixa);
}

legend {
    background-color: var(--login-bg-color);
}

.campo_de_preenchimento{
    width: 210px;
}

.submit {
    width: 220px;
    padding: var(--second-padding);
    background-color: var(--link-color);
    font-weight: var(--estilo-fonte);
}